.header {
  background-color: #fff;
  position: sticky;
  top: 0;
}
.menu {
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
}
.footer {
  text-align: center;
  background-color: #fff;
}